<div id="<%= dom_id payment_intent %>">
  <p>
    <strong>Order:</strong>
    <%= payment_intent.order_id %>
  </p>

  <p>
    <strong>Provider:</strong>
    <%= payment_intent.provider %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= payment_intent.amount %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= payment_intent.status %>
  </p>

  <p>
    <strong>External:</strong>
    <%= payment_intent.external_id %>
  </p>

  <p>
    <strong>Payload:</strong>
    <%= payment_intent.payload %>
  </p>

</div>
