<div id="<%= dom_id driver_profile %>">
  <p>
    <strong>User:</strong>
    <%= driver_profile.user_id %>
  </p>

  <p>
    <strong>Vehicle type:</strong>
    <%= driver_profile.vehicle_type %>
  </p>

  <p>
    <strong>Plate:</strong>
    <%= driver_profile.plate %>
  </p>

  <p>
    <strong>Active:</strong>
    <%= driver_profile.active %>
  </p>

</div>
