<div id="<%= dom_id menu_item %>">
  <p>
    <strong>Restaurant:</strong>
    <%= menu_item.restaurant_id %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= menu_item.category_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= menu_item.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= menu_item.description %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= menu_item.price %>
  </p>

  <p>
    <strong>Available:</strong>
    <%= menu_item.available %>
  </p>

  <p>
    <strong>Image url:</strong>
    <%= menu_item.image_url %>
  </p>

</div>
