<div id="<%= dom_id notification %>">
  <p>
    <strong>User:</strong>
    <%= notification.user_id %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= notification.title %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= notification.body %>
  </p>

  <p>
    <strong>Read at:</strong>
    <%= notification.read_at %>
  </p>

  <p>
    <strong>Notifiable:</strong>
    <%= notification.notifiable_id %>
  </p>

</div>
