<div id="<%= dom_id coupon %>">
  <p>
    <strong>Code:</strong>
    <%= coupon.code %>
  </p>

  <p>
    <strong>Discount type:</strong>
    <%= coupon.discount_type %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= coupon.amount %>
  </p>

  <p>
    <strong>Min order value:</strong>
    <%= coupon.min_order_value %>
  </p>

  <p>
    <strong>Restaurant:</strong>
    <%= coupon.restaurant_id %>
  </p>

  <p>
    <strong>Expires at:</strong>
    <%= coupon.expires_at %>
  </p>

  <p>
    <strong>Active:</strong>
    <%= coupon.active %>
  </p>

  <p>
    <strong>Usage limit:</strong>
    <%= coupon.usage_limit %>
  </p>

</div>
