<div id="<%= dom_id delivery_fee_rule %>">
  <p>
    <strong>Restaurant:</strong>
    <%= delivery_fee_rule.restaurant_id %>
  </p>

  <p>
    <strong>Min km:</strong>
    <%= delivery_fee_rule.min_km %>
  </p>

  <p>
    <strong>Max km:</strong>
    <%= delivery_fee_rule.max_km %>
  </p>

  <p>
    <strong>Fee:</strong>
    <%= delivery_fee_rule.fee %>
  </p>

</div>
