<p style="color: green"><%= notice %></p>

<%= render @delivery_fee_rule %>

<div>
  <%= link_to "Edit this delivery fee rule", edit_delivery_fee_rule_path(@delivery_fee_rule) %> |
  <%= link_to "Back to delivery fee rules", delivery_fee_rules_path %>

  <%= button_to "Destroy this delivery fee rule", @delivery_fee_rule, method: :delete %>
</div>
