<div id="<%= dom_id cart_item %>">
  <p>
    <strong>Cart:</strong>
    <%= cart_item.cart_id %>
  </p>

  <p>
    <strong>Menu item:</strong>
    <%= cart_item.menu_item_id %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= cart_item.quantity %>
  </p>

  <p>
    <strong>Unit price:</strong>
    <%= cart_item.unit_price %>
  </p>

  <p>
    <strong>Notes:</strong>
    <%= cart_item.notes %>
  </p>

</div>
