<div id="<%= dom_id address %>">
  <p>
    <strong>Addressable:</strong>
    <%= address.addressable_id %>
  </p>

  <p>
    <strong>Cep:</strong>
    <%= address.cep %>
  </p>

  <p>
    <strong>Street:</strong>
    <%= address.street %>
  </p>

  <p>
    <strong>Number:</strong>
    <%= address.number %>
  </p>

  <p>
    <strong>Complement:</strong>
    <%= address.complement %>
  </p>

  <p>
    <strong>Neighborhood:</strong>
    <%= address.neighborhood %>
  </p>

  <p>
    <strong>City:</strong>
    <%= address.city %>
  </p>

  <p>
    <strong>State:</strong>
    <%= address.state %>
  </p>

  <p>
    <strong>Latitude:</strong>
    <%= address.latitude %>
  </p>

  <p>
    <strong>Longitude:</strong>
    <%= address.longitude %>
  </p>

</div>
